*

!.gitignore
!.gitattributes

!*.[mM][dD]

!modules/
!modules/**/*
!cd/
!cd/**/*
!td/
!td/**/*
!motor_control/
!motor_control/**/*

!marvin42-rootconfigs/
!marvin42-rootconfigs/**/*
!marvin42-userconfigs/
!marvin42-userconfigs/**/*

!ev3dev-rootconfigs/
!ev3dev-rootconfigs/**/*
!ev3dev-userconfigs/
!ev3dev-userconfigs/**/*

!controller_app/
!controller_app/**/*

!chirp-wasm/
!chirp-wasm/**/*
